<div>
  <img src="<%= logo %>" alt="logo" width="80" height="80" />
</div>
<div style="margin-left: 20px;">
  <h1><b><%= orgName %></b> statusboard</h1>
  <p class="sub-title">Last update: <b><%= lastUpdate %></b></p>
  <p class="sub-title">Total repos: <b><%= projects.length %></b></p>
</div>
