<div>
  <img src="<%= logo %>" alt="Organization Logo" width="80" height="80" />
</div>
<div style="margin-left: 20px;">
  <h1><b><%= orgName %></b> Statusboard</h1>
  <p class="sub-title">Last Update: <b><%= lastUpdate %></b></p>
  <p class="sub-title">Total Repositories: <b><%= projects.length %></b></p>
</div>