<ul class="board-columns-selector">
  <li>
    <button id="columns-btn" type="button" aria-expanded="false" aria-controls="id_about_menu">Columns</button>
    <ul id="columns-list">
      <li><a class="column selected" data-column-id="version">Version</a></li>
      <li><a class="column selected" data-column-id="private">Private</a></li>
      <li><a class="column selected" data-column-id="fork">Fork</a></li>
      <li><a class="column selected" data-column-id="forked_count">Fork Count</a></li>
      <li><a class="column selected" data-column-id="branch">Branch</a></li>
      <li><a class="column selected" data-column-id="esm">ESM</a></li>
      <li><a class="column selected" data-column-id="license">License</a></li>
      <li><a class="column selected" data-column-id="node">Node.js Engine</a></li>
      <li><a class="column selected" data-column-id="pullrequests">Pull Requests</a></li>
      <li><a class="column selected" data-column-id="issues">Issues</a></li>
      <li><a class="column selected" data-column-id="published">Published Date</a></li>
      <li><a class="column selected" data-column-id="commit">Commit Date</a></li>
      <li><a class="column selected" data-column-id="commit_count_last_release">Commit Count (Last Release)</a></li>
      <li><a class="column selected" data-column-id="stars">Stars</a></li>
      <li><a class="column selected" data-column-id="test_framework">Test Framework</a></li>
      <li><a class="column selected" data-column-id="test_coverage_lib">Coverage Library</a></li>
      <li><a class="column selected" data-column-id="dependency_count">Dependencies</a></li>
      <li><a class="column selected" data-column-id="dev_dependency_count">Dev Dependencies</a></li>
    </ul>
  </li>
</ul>

<div id="board" data-json="<%= JSON.stringify(projects) %>" data-org="<%= orgName %>"></div>
