html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 16px;
  color: #37474F;
}

a {
  color: #0c4fb4;
}

b {
  font-weight: 800;
}

div.color-line {
  height: 13px;
  background-image: linear-gradient(139deg, #7E57C2, #3F51B5, #2196F3, #29B6F6);
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.1)
}

header {
  display: flex;
  height: 100px;
  flex-direction: row;
  flex-shrink: 0;
  border-bottom: 1px solid #dce3e6;
  padding: 0 20px;
}

header>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 30px;
}

header p {
  font-size: 14px;
  font-style: italic;
}

header .sub-title {
  margin-top: 5px;
  color: #546E7A;
}

header .sub-title b {
  color: #3F51B5;
}

main {
  flex-grow: 1;
  padding: 20px;
}

main>.tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

main>.tags>div.tag {
  padding: 7px;
  border-radius: 4px;
  display: flex;
  font-size: 13px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  border: 2px solid #FFF;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  margin-left: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #013b68;
}

main>.tags>div.tag.disabled {
  color: #D32F2F;
  border: 2px solid #D32F2F;
}

main>.search-bar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

main>.search-bar>label {
  font-weight: bold;
}

main>.search-bar>input {
  height: 30px;
  border: 2px solid #CFD8DC;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 3px;
  outline: none;
  font-family: "Poppins";
}

main>.table-container {
  display: flex;
  overflow-x: scroll;
}
