html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 16px;
  color: #37474F;
}

a {
  color: #0c4fb4;
}

button {
  cursor: pointer;
}

b {
  font-weight: 800;
}

.page-loader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.color-line {
  height: 13px;
  background-image: linear-gradient(139deg, #7E57C2, #3F51B5, #2196F3, #29B6F6);
  flex-shrink: 0;
  border-bottom: 1px solid #FFF;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.1)
}

nav#orgs {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

nav .org {
  height: 30px;
  margin-right: 8px;
}

nav .org img {
  border-radius: 4px;
}

#add-org-popup {
  display: none;
}

#add-org-popup.opened {
  padding: 10px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.7);
  z-index: 9;
  box-sizing: border-box;
}

.popup-content {
  display: block;
  border-radius: 8px;
  background: white;
  padding: 10px;
  width: 330px;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  flex: 1;
  margin-bottom: 15px;
}

.popup-form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-org-btn {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: #0c4fb4;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 4px;
}

#close-popup {
  height: 28px;
  line-height: 28px;
  border: 0;
  background: #b4200c;
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 4px;
}

#add-org-input {
  height: 28px;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 100px;
  flex-direction: row;
  flex-shrink: 0;
  border-bottom: 1px solid #dce3e6;
  padding: 0 20px;
}

header>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 30px;
}

header p {
  font-size: 14px;
  font-style: italic;
}

header .sub-title {
  margin-top: 5px;
  color: #546E7A;
}

header .sub-title b {
  color: #3F51B5;
}

main {
  flex-grow: 1;
  padding: 20px;
}

main>.table-container {
  display: flex;
  overflow-x: scroll;
}

.hidden {
  display: none !important;
}

.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.big:after {
  width: 84px;
  height: 84px;
  border-color: #013b68 transparent #013b68 transparent;
  border-width: 6px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.close {
  position: absolute;
  right: -6px;
  top: -6px;
  width: 12px;
  height: 12px;
  background: white url('/images/plus.png');
  background-position: center center;
  background-size: 12px 12px;
  border-radius: 50%;
  background-repeat: no-repeat;
  padding: 2px;
  transform: rotate(45deg);
  box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.3);
  visibility: hidden;
  cursor: pointer;
}

nav .org div:hover>.close {
  visibility: visible;
}

footer .footer-text {
  font-family: "Poppins";
  font-size: 14px;
  padding: 0 20px;
  color: #546E7A;
}

footer .footer-text strong{
  color: #3F51B5;
}