table {
  border-spacing: 0px;
  margin: 0;
  border-radius: 1px;
  border: 2px solid #CFD8DC;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
}

table>thead th.hidden,
table>tbody tr td.hidden {
  display: none;
}

table>thead th.left,
table>tbody tr td.left {
  text-align: left;
}

table>thead {
  background: #FFF;
  color: #263238;
  font-weight: bold;
}

table>thead th {
  height: 30px;
  text-align: left;
  padding-left: 5px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: #013b68;
}

table>thead th.sort {
  cursor: pointer;
}

table>thead th.min {
  min-width: 80px !important;
}

table>tbody tr {
  height: 28px;
}
table>tbody tr:nth-child(odd) {
  background: #f2f5f6;
}

table>tbody tr td {
  color: #445a64;
  border-top: 1px solid #dce3e6;
  border-right: 1px solid #dce3e6;
  text-align: center;
  vertical-align: middle;
  padding: 2px 5px;
  font-size: 15px;
  font-family: "Source Sans Pro";
}
table>tbody tr td:last-child {
  border-right: 0px;
}
