table {
    border-spacing: 0px;
    margin: 0;
    border-radius: 4px;
    border: 2px solid #CFD8DC;
    margin: 20px 0;
    box-sizing: border-box;
}
    table > thead th.hidden, table > tbody tr td.hidden {
        display: none;
    }
    table > thead th.left, table > tbody tr td.left {
        text-align: left;
    }

    table > thead {
        background: #CFD8DC;
        color: #263238;
        font-weight: bold;
    }
        table > thead th {
            height: 40px;
            line-height: 27px;
            text-align: left;
            padding: 0 10px;
            text-align: center;
            min-width: 130px;
            vertical-align: middle;
        }

        table > thead th.sort {
            cursor: pointer;
        }
        table > thead th.min {
            min-width: 80px !important;
        }

    table > tbody tr {
        height: 35px;
    }
    table > tbody tr:hover {
        background: #EEE;
    }
        table > tbody tr td {
            color: #607D8B;
            border-bottom: 2px solid rgba(207, 216, 220, 0.5);
            text-align: center;
            vertical-align: middle;
            padding: 0 10px;
        }

